{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>Add New Idea</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.author) }}
    <button type="submit">Add Idea</button>
    {{ form_end(form) }}
{% endblock %}